<div>
  <h2 id="page-heading" data-cy="CashBookHeading">
    <span>Cash Books</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cash-book"
        [routerLink]="['/cash-book/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Cash Book </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="cashBooks?.length === 0">
    <span>No Cash Books found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="cashBooks && cashBooks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionDate">
            <div class="d-flex">
              <span>Transaction Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionDescription">
            <div class="d-flex">
              <span>Transaction Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionAmountDR">
            <div class="d-flex">
              <span>Transaction Amount DR</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionAmountCR">
            <div class="d-flex">
              <span>Transaction Amount CR</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionBalance">
            <div class="d-flex">
              <span>Transaction Balance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="merchant.id">
            <div class="d-flex">
              <span>Merchant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionType.id">
            <div class="d-flex">
              <span>Transaction Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cashBook of cashBooks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cash-book', cashBook.id, 'view']">{{ cashBook.id }}</a>
          </td>
          <td>{{ cashBook.transactionDate | formatMediumDate }}</td>
          <td>{{ cashBook.transactionDescription }}</td>
          <td>{{ cashBook.transactionAmountDR }}</td>
          <td>{{ cashBook.transactionAmountCR }}</td>
          <td>{{ cashBook.transactionBalance }}</td>
          <td>
            <div *ngIf="cashBook.merchant">
              <a [routerLink]="['/merchant', cashBook.merchant.id, 'view']">{{ cashBook.merchant.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cashBook.transactionType">
              <a [routerLink]="['/transaction-type', cashBook.transactionType.id, 'view']">{{ cashBook.transactionType.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cash-book', cashBook.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cash-book', cashBook.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(cashBook)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="cashBooks && cashBooks.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
