<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="employee">
      <h2 data-cy="employeeDetailsHeading"><span>Employee</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ employee.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ employee.code }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ employee.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ employee.lastName }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ employee.email }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ employee.isActive }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ employee.phone }}</span>
        </dd>
        <dt><span>Address Line 1</span></dt>
        <dd>
          <span>{{ employee.addressLine1 }}</span>
        </dd>
        <dt><span>Address Line 2</span></dt>
        <dd>
          <span>{{ employee.addressLine2 }}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <span>{{ employee.city }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ employee.country }}</span>
        </dd>
        <dt><span>Salary</span></dt>
        <dd>
          <span>{{ employee.salary }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ employee.user?.id }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <div *ngIf="employee.type">
            <a [routerLink]="['/employee-type', employee.type.id, 'view']">{{ employee.type.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
