<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cash-book-heading" data-cy="CashBookCreateUpdateHeading">Create or edit a Cash Book</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_transactionDate">Transaction Date</label>
          <div class="input-group">
            <input
              id="field_transactionDate"
              data-cy="transactionDate"
              type="text"
              class="form-control"
              name="transactionDate"
              ngbDatepicker
              #transactionDateDp="ngbDatepicker"
              formControlName="transactionDate"
            />
            <button type="button" class="btn btn-secondary" (click)="transactionDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('transactionDate')!.invalid &&
              (editForm.get('transactionDate')!.dirty || editForm.get('transactionDate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('transactionDate')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_transactionDescription">Transaction Description</label>
          <input
            type="text"
            class="form-control"
            name="transactionDescription"
            id="field_transactionDescription"
            data-cy="transactionDescription"
            formControlName="transactionDescription"
          />
          <div
            *ngIf="
              editForm.get('transactionDescription')!.invalid &&
              (editForm.get('transactionDescription')!.dirty || editForm.get('transactionDescription')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('transactionDescription')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_transactionAmountDR">Transaction Amount DR</label>
          <input
            type="number"
            class="form-control"
            name="transactionAmountDR"
            id="field_transactionAmountDR"
            data-cy="transactionAmountDR"
            formControlName="transactionAmountDR"
          />
          <div
            *ngIf="
              editForm.get('transactionAmountDR')!.invalid &&
              (editForm.get('transactionAmountDR')!.dirty || editForm.get('transactionAmountDR')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('transactionAmountDR')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('transactionAmountDR')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_transactionAmountCR">Transaction Amount CR</label>
          <input
            type="number"
            class="form-control"
            name="transactionAmountCR"
            id="field_transactionAmountCR"
            data-cy="transactionAmountCR"
            formControlName="transactionAmountCR"
          />
          <div
            *ngIf="
              editForm.get('transactionAmountCR')!.invalid &&
              (editForm.get('transactionAmountCR')!.dirty || editForm.get('transactionAmountCR')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('transactionAmountCR')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('transactionAmountCR')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_transactionBalance">Transaction Balance</label>
          <input
            type="number"
            class="form-control"
            name="transactionBalance"
            id="field_transactionBalance"
            data-cy="transactionBalance"
            formControlName="transactionBalance"
          />
          <div
            *ngIf="
              editForm.get('transactionBalance')!.invalid &&
              (editForm.get('transactionBalance')!.dirty || editForm.get('transactionBalance')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('transactionBalance')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('transactionBalance')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_merchant">Merchant</label>
          <select
            class="form-control"
            id="field_merchant"
            data-cy="merchant"
            name="merchant"
            formControlName="merchant"
            [compareWith]="compareMerchant"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="merchantOption" *ngFor="let merchantOption of merchantsSharedCollection">{{ merchantOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_transactionType">Transaction Type</label>
          <select
            class="form-control"
            id="field_transactionType"
            data-cy="transactionType"
            name="transactionType"
            formControlName="transactionType"
            [compareWith]="compareTransactionType"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="transactionTypeOption" *ngFor="let transactionTypeOption of transactionTypesSharedCollection">
              {{ transactionTypeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
