<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="expenseAccountBalance">
      <h2 data-cy="expenseAccountBalanceDetailsHeading"><span>Expense Account Balance</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ expenseAccountBalance.id }}</span>
        </dd>
        <dt><span>Balance</span></dt>
        <dd>
          <span>{{ expenseAccountBalance.balance }}</span>
        </dd>
        <dt><span>Expense</span></dt>
        <dd>
          <div *ngIf="expenseAccountBalance.expense">
            <a [routerLink]="['/expense', expenseAccountBalance.expense.id, 'view']">{{ expenseAccountBalance.expense.id }}</a>
          </div>
        </dd>
        <dt><span>Merchant</span></dt>
        <dd>
          <div *ngIf="expenseAccountBalance.merchant">
            <a [routerLink]="['/merchant', expenseAccountBalance.merchant.id, 'view']">{{ expenseAccountBalance.merchant.id }}</a>
          </div>
        </dd>
        <dt><span>Transaction Type</span></dt>
        <dd>
          <div *ngIf="expenseAccountBalance.transactionType">
            <a [routerLink]="['/transaction-type', expenseAccountBalance.transactionType.id, 'view']">{{
              expenseAccountBalance.transactionType.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/expense-account-balance', expenseAccountBalance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
