<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-expense-heading" data-cy="ExpenseCreateUpdateHeading">Create or edit a Expense</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_expenseCode">Expense Code</label>
          <input
            type="text"
            class="form-control"
            name="expenseCode"
            id="field_expenseCode"
            data-cy="expenseCode"
            formControlName="expenseCode"
          />
          <div *ngIf="editForm.get('expenseCode')!.invalid && (editForm.get('expenseCode')!.dirty || editForm.get('expenseCode')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('expenseCode')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_expenseName">Expense Name</label>
          <input
            type="text"
            class="form-control"
            name="expenseName"
            id="field_expenseName"
            data-cy="expenseName"
            formControlName="expenseName"
          />
          <div *ngIf="editForm.get('expenseName')!.invalid && (editForm.get('expenseName')!.dirty || editForm.get('expenseName')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('expenseName')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_expenseLimit">Expense Limit</label>
          <input
            type="number"
            class="form-control"
            name="expenseLimit"
            id="field_expenseLimit"
            data-cy="expenseLimit"
            formControlName="expenseLimit"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
