<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-employee-heading" data-cy="EmployeeCreateUpdateHeading">Create or edit a Employee</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('firstName')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
          <div *ngIf="editForm.get('phone')!.invalid && (editForm.get('phone')!.dirty || editForm.get('phone')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('phone')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_addressLine1">Address Line 1</label>
          <input
            type="text"
            class="form-control"
            name="addressLine1"
            id="field_addressLine1"
            data-cy="addressLine1"
            formControlName="addressLine1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_addressLine2">Address Line 2</label>
          <input
            type="text"
            class="form-control"
            name="addressLine2"
            id="field_addressLine2"
            data-cy="addressLine2"
            formControlName="addressLine2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_country">Country</label>
          <input type="text" class="form-control" name="country" id="field_country" data-cy="country" formControlName="country" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_salary">Salary</label>
          <input type="number" class="form-control" name="salary" id="field_salary" data-cy="salary" formControlName="salary" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_type">Type</label>
          <select
            class="form-control"
            id="field_type"
            data-cy="type"
            name="type"
            formControlName="type"
            [compareWith]="compareEmployeeType"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="employeeTypeOption" *ngFor="let employeeTypeOption of employeeTypesSharedCollection">
              {{ employeeTypeOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="field_vehicles">Vehicle</label>
          <select
            class="form-control"
            id="field_vehicles"
            data-cy="vehicle"
            multiple
            name="vehicles"
            formControlName="vehicles"
            [compareWith]="compareVehicle"
          >
            <option [ngValue]="vehicleOption" *ngFor="let vehicleOption of vehiclesSharedCollection">{{ vehicleOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_merchant">Merchant</label>
          <select
            class="form-control"
            id="field_merchant"
            data-cy="merchant"
            name="merchant"
            formControlName="merchant"
            [compareWith]="compareMerchant"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="merchantOption" *ngFor="let merchantOption of merchantsSharedCollection">{{ merchantOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>

      <div class="btn-group">
        <button type="submit" (click)="exportPDF()" class="btn btn-info btn-sm">
          <fa-icon [icon]="'eye'"></fa-icon>
          <span class="d-none d-md-inline">export</span>
        </button>
      </div>
    </form>
  </div>
</div>
