<div>
  <h2 id="page-heading" data-cy="ExpenseAccountBalanceHeading">
    <span>Expense Account Balances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-expense-account-balance"
        [routerLink]="['/expense-account-balance/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Expense Account Balance </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="expenseAccountBalances?.length === 0">
    <span>No Expense Account Balances found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="expenseAccountBalances && expenseAccountBalances.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="balance">
            <div class="d-flex">
              <span>Balance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="expense.id">
            <div class="d-flex">
              <span>Expense</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="merchant.id">
            <div class="d-flex">
              <span>Merchant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionType.id">
            <div class="d-flex">
              <span>Transaction Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expenseAccountBalance of expenseAccountBalances; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/expense-account-balance', expenseAccountBalance.id, 'view']">{{ expenseAccountBalance.id }}</a>
          </td>
          <td>{{ expenseAccountBalance.balance }}</td>
          <td>
            <div *ngIf="expenseAccountBalance.expense">
              <a [routerLink]="['/expense', expenseAccountBalance.expense.id, 'view']">{{ expenseAccountBalance.expense.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="expenseAccountBalance.merchant">
              <a [routerLink]="['/merchant', expenseAccountBalance.merchant.id, 'view']">{{ expenseAccountBalance.merchant.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="expenseAccountBalance.transactionType">
              <a [routerLink]="['/transaction-type', expenseAccountBalance.transactionType.id, 'view']">{{
                expenseAccountBalance.transactionType.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/expense-account-balance', expenseAccountBalance.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/expense-account-balance', expenseAccountBalance.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(expenseAccountBalance)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="expenseAccountBalances && expenseAccountBalances.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
