<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-employee-account-balance-heading" data-cy="EmployeeAccountBalanceCreateUpdateHeading">
        Create or edit a Employee Account Balance
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_balance">Balance</label>
          <input type="number" class="form-control" name="balance" id="field_balance" data-cy="balance" formControlName="balance" />
          <div *ngIf="editForm.get('balance')!.invalid && (editForm.get('balance')!.dirty || editForm.get('balance')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('balance')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('balance')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_employee">Employee</label>
          <select
            class="form-control"
            id="field_employee"
            data-cy="employee"
            name="employee"
            formControlName="employee"
            [compareWith]="compareEmployee"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="employeeOption" *ngFor="let employeeOption of employeesSharedCollection">{{ employeeOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_merchant">Merchant</label>
          <select
            class="form-control"
            id="field_merchant"
            data-cy="merchant"
            name="merchant"
            formControlName="merchant"
            [compareWith]="compareMerchant"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="merchantOption" *ngFor="let merchantOption of merchantsSharedCollection">{{ merchantOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_transactionType">Transaction Type</label>
          <select
            class="form-control"
            id="field_transactionType"
            data-cy="transactionType"
            name="transactionType"
            formControlName="transactionType"
            [compareWith]="compareTransactionType"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="transactionTypeOption" *ngFor="let transactionTypeOption of transactionTypesSharedCollection">
              {{ transactionTypeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
