<div>
  <h2 id="page-heading" data-cy="MerchantHeading">
    <span>Merchants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-merchant"
        [routerLink]="['/merchant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Merchant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="merchants?.length === 0">
    <span>No Merchants found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="merchants && merchants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="code">
            <div class="d-flex">
              <span>Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="merchantSecret">
            <div class="d-flex">
              <span>Merchant Secret</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="creditLimit">
            <div class="d-flex">
              <span>Credit Limit</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isActive">
            <div class="d-flex">
              <span>Is Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phone">
            <div class="d-flex">
              <span>Phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="addressLine1">
            <div class="d-flex">
              <span>Address Line 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="addressLine2">
            <div class="d-flex">
              <span>Address Line 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="city">
            <div class="d-flex">
              <span>City</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="country">
            <div class="d-flex">
              <span>Country</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="percentage">
            <div class="d-flex">
              <span>Percentage</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="creditScore">
            <div class="d-flex">
              <span>Credit Score</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span>Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rating">
            <div class="d-flex">
              <span>Rating</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="leadTime">
            <div class="d-flex">
              <span>Lead Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isSandBox">
            <div class="d-flex">
              <span>Is Sand Box</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="storeDescription">
            <div class="d-flex">
              <span>Store Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="storeSecondaryDescription">
            <div class="d-flex">
              <span>Store Secondary Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="images.id">
            <div class="d-flex">
              <span>Images</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let merchant of merchants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/merchant', merchant.id, 'view']">{{ merchant.id }}</a>
          </td>
          <td>{{ merchant.code }}</td>
          <td>{{ merchant.merchantSecret }}</td>
          <td>{{ merchant.name }}</td>
          <td>{{ merchant.creditLimit }}</td>
          <td>{{ merchant.isActive }}</td>
          <td>{{ merchant.phone }}</td>
          <td>{{ merchant.addressLine1 }}</td>
          <td>{{ merchant.addressLine2 }}</td>
          <td>{{ merchant.city }}</td>
          <td>{{ merchant.country }}</td>
          <td>{{ merchant.percentage }}</td>
          <td>{{ merchant.creditScore }}</td>
          <td>{{ merchant.email }}</td>
          <td>{{ merchant.rating }}</td>
          <td>{{ merchant.leadTime }}</td>
          <td>{{ merchant.isSandBox }}</td>
          <td>{{ merchant.storeDescription }}</td>
          <td>{{ merchant.storeSecondaryDescription }}</td>
          <td>
            <div *ngIf="merchant.images">
              <a [routerLink]="['/images', merchant.images.id, 'view']">{{ merchant.images.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vehicle']"
                [queryParams]="{ 'filter[merchantId.in]': merchant.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Show Vehicle</span>
              </button>
              <button
                type="submit"
                [routerLink]="['/employee-account']"
                [queryParams]="{ 'filter[merchantId.in]': merchant.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Show Employee Account</span>
              </button>
              <button
                type="submit"
                [routerLink]="['/merchant', merchant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/merchant', merchant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(merchant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="merchants && merchants.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
